{% extends 'master.html' %}
{% block body %}

<div class="container">
Hello, my name is Liana. In spring 2014, I programmed VisuaLisPy as my <a href="http://www.hackbrightacademy.com/">Hackbright Academy</a> project. 
</p>
I hold a certain aversion to black boxes, always wanting to open them up and take a peek inside. Since I began programming, I wanted to know how a computer actually understands these languages. Thus, I chose to build an interpreter for the sake of learning some inner workings of language processing. 
</p>
However, as Hackbright instructor Liz said quite accurately of me, “You really like the abstract, but you get frustrated if you can’t represent it visually.” How do I share my project with others in a visual format? And so, I set off to build VisuaLisPy -- a web-based language interpretation visualizer. Working off of Peter Norvig's <a href="http://norvig.com/lispy.html">Lispy</a>, I wrote an interpreter for Scheme (a dialect of Lisp) using Python. The interpreter file was modified to output JSON, which is passed to the browser and rendered visually using the <a href="http://d3js.org/">D3.js</a> JavaScript library. 
</p>
In line with my love for open education, I hope VisuaLisPy will be helpful for those who want to better understand language interpretation.
</br>
</br>
Want to see more? Find me on <a href="https://github.com/lolilo">GitHub</a> or <a href="http://www.linkedin.com/in/lianalo">LinkedIn</a>.
</pre>
</div>
{% endblock %}