{% extends 'master.html' %}
    {% block body %}

    <form class="form-control" method="POST" action="">
        <textarea name="user_input" placeholder="Enter Scheme program here." cols="50" rows="5"></textarea><br>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
    </form>




    <script src="/static/convert_json_to_tree_object.js"></script>

    <script type="text/javascript">

        var s =
                    {
                         "*": [
                              "*",
                              9,
                              8
                         ]
                    };

        tree = createTree(s);
        console.log('this is tree', tree);

        n = depthFirstTraversal(tree);
        // console.log(n);
        
    </script>


    {% endblock %}