{% extends 'master.html' %}
{% block css %}
<style>
    div#tree {
      padding: 0px;
      float:left;
      width: 600px;
      margin: -20px 0px 0px -100px;
      border: 0px;
    }

    /*tree CSS*/
    .node {
      cursor: pointer;
    }

    .node circle {
      fill: #fff;
      stroke: #009999;
      stroke-width: 3px;
    }

    .node text { 
      font: 13px sans-serif; 
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
    }
    /*end tree CSS*/

    .ex {
      display: inline;
      float: right;
      width: 430px;
      text-align: right;
      /*padding-right: 10px;*/
    }

    .form-control {
      width: 34px;
    }

    .ex-align{
      float: right;
    }
</style>
{% endblock %}

{% block body %}

<!-- load jQuery/Ajax before user clicks submit button -->
  <script src="/static/js/jquery-2.1.0.js"></script>
  <script src="/static/js/ajax.js"></script>

<!-- TODO: ADD GIF OF LOADING BUTTON AS JQUERY LOADS.
  http://forum.jquery.com/topic/disable-enable-button-in-form -->

<!-- onsubmit and onclick are default attributes that will run if jQuery has not yet loaded. Since I moved the .js scripts before the form, the form won't load until the scripts load, so these are redundant checks -->

  <form id="code_submission" method="POST" action="/get_json" onsubmit="return false;">
    <textarea id="user_input" class="form-control" name="user_input" placeholder="Enter Scheme or JavaScript program here." cols="20" rows="5">{{code}}</textarea>
    </p>
    <input type="submit" class="btn btn-default" id="form_submit" value="Render Abstract Syntax Tree" onclick="return false;">
    <button class="btn btn-default" id="clear_program">Clear</button>
    <button class="btn btn-default" id="save_program">Save</button>

  <div class = "ex-align">
    <div class="dropdown">
      <!-- <a data-toggle="dropdown" href="#">Scheme Examples</a> -->
     <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Scheme Examples
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/get_db_code/1" onclick="return false;">area</a>
          </li>

          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/get_db_code/2" onclick="return false;">factorial</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/get_db_code/3" onclick="return false;">fibonacci</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/get_db_code/4">math</a></li>
        </ul>
      </div>

     <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          JavaScript Examples
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/get_db_code/5">area</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/get_db_code/6">factorial</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/get_db_code/7">fibonacci</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/get_db_code/8">math</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <br class="clear"/>
  </form> 

  <hr/>

  <div id="message_display"><p/><p/></div>
  <div id="tree"></div>

  <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- json_to_D3_tree is called in ajax.js -->
  <script src="/static/js/json_to_D3_tree.js"></script>
  <script src="/static/js/collapsible_tree.js"></script>
  <script src="/static/js/edit_tree_post_d3_rendering.js"></script>

{% endblock %}