{% extends 'master.html' %}
{% block css %}
<style>
    div#tree {
      padding: 0px;
      float:left;
      width: 600px;
      margin: -20px 0px 0px -100px;
      border: 0px;
    }

    /*tree CSS*/
    .node circle {
      fill: #fff;
      stroke: #00CC00;
      stroke-width: 3px;
    }

    .node text { 
      font: 13px sans-serif; 
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
    }
    /*end tree CSS*/

/*    br {
    display: block;
    line-height: 10px;
    }*/

    .form-control {
      width: 34px;
    }
    /*HOW TO OVERWRITE BOOTSTRAP.*/

   /* .form-control{
      float:left;
      margin-left: -20px;
      text-align:left;
      background-color:#ffa;*/

/*
    div#examples {
      padding: 0px;
      float:left;
    }
*/

    }

</style>
{% endblock %}

{% block body %}

  <form id="code_submission" method="POST" action="/get_json">
    <textarea id="user_input" class="form-control" name="user_input" placeholder="Enter Scheme program here." cols="20" rows="5">
      (define count (lambda (item L) (if L (+ (equal? item (car L)) (count item (cdr L))) 0)))
    </textarea>
    </p>
    <input type="submit" class="btn btn-default" id="form_submit" value="Submit">
    <button class="btn btn-default" id="clear_program">Clear Program</button>
<!--       <div>
      <pre> Examples:  <a href="get_db_code/area">define area</a> | <a href="/get_db_code/factorial">define factorial</a></pre>
      </div> -->

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Examples:  <a href="get_db_code/area">define area</a> | <a href="/get_db_code/factorial">define factorial</a>
  </form> 

  <hr/>
  
  <div id="message_display"><p/><p/></div>
  <div id="tree"></div>

<!-- need to fix this so that ajax loads before user clicks submit button -->

  <script src="/static/js/jquery-2.1.0.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <!-- json_to_D3_tree is called in ajax.js -->
  <script src="/static/js/json_to_D3_tree.js"></script>
  <script src="/static/js/render_tree.js"></script>
  <script src="/static/js/ajax.js"></script>

  {% endblock %}