<html>
    <head>
        <style>
            div#wrapper {
            padding: 30px;
            float:left;
            width: 600px;
            margin: -20px 0px 0px 0px;
            border: 0px;
          }
        </style>
        {% block css %}{% endblock %}

        <title>VisuaLisPy</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
<!--         <link href="/static/css/main.css" rel="stylesheet"> -->
    </head>

    <body>
        <div id="wrapper">
            <h1>VisuaLisPy</h1>
            <p>visualize computer language interpretation</p>
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>