{% extends 'master.html' %}
    {% block body %}

    <form class="form-control" method="POST" action="">
        <textarea name="user_input" placeholder="Enter Scheme program here." cols="50" rows="5"></textarea><br>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
    </form>

    {{json_object}}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script type="text/javascript">

    </script>

    <script src="/static/convert_json_to_tree_object.js">
        tree = createTree("(* 9 9)");
        console.log(tree);

        depthFirstTraversal(tree);

    </script>

    {% endblock %}
