{% extends 'master.html' %}
    {% block body %}

    <form class="form-control" method="POST" action="">
        <textarea name="user_input" placeholder="Enter Scheme program here." cols="50" rows="5"></textarea><br>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
    </form>

    {{json_object}}

<p>
    {{ json_object|safe }} </p>

    <script src="/static/js/jquery-2.1.0.js"></script>
    <script src="/static/convert_json_to_tree_object.js"></script>

    <script type="text/javascript">
        var json_string = JSON.stringify({{ json_object|safe }});

        console.log('json_string is', json_string);

        var json_object = $.parseJSON(json_string);

        console.log('this is json_object', json_object);

        var tree = createTree(json_object);
        console.log('this is tree', tree);

        var n = depthFirstTraversal(tree);
        // console.log(n);
        
    </script>



    {% endblock %}
